<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <div>
        <form action="/avaliarPedido/avaliar" method="get">
            <label for="nota">Nota para o pedido</label>
            <input name="nota" />
            <br/>
            <label for="comentario">Comentario para o pedido</label>
            <input name="comentario" />
            <br/>
            <button type="submit">Avaliar</button>
        </form>
    </div>
</body>
</html>