<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <div>
        <form action="/cliente/criar/" method="get">
            <label for="nome">Nome do cliente</label>
            <input name="nome" />
            <label for="senha">Senha do cliente</label>
            <input name="senha" />
            <label for="email">Email do cliente</label>
            <input name="email" />
            <label for="rua">Rua do cliente</label>
            <input name="rua" />
            <label for="cidade">Cidade do cliente</label>
            <input name="cidade" />
            <label for="bairro">Bairro do cliente</label>
            <input name="bairro" />
            <label for="complemento">Complemento</label>
            <input name="complemento" />
            <label for="cep">CEP</label>
            <input name="cep" />
            <button type="submit">Criar</button>
        </form>
    </div>
</body>
</html>