<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <div>
        <form action="/efetuarPedido/preencher" method="get">
            <label for="itemDescricao">Descricao do item</label>
            <input name="itemDescricao" />
            <br/>
            <label for="formaPagamento">Forma de Pagamento</label>
            <input name="formaPagamento" />
            <br/>
            <label for="valorPagamento">Valor do Pagamento</label>
            <input name="valorPagamento" />
            <br/>
            <button type="submit">Efetuar Pedido</button>
        </form>
    </div>
</body>
</html>